
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.jcjnihbrefjumwgkpbmu:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.jcjnihbrefjumwgkpbmu:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"


#Schema.prisma
# generator client {
#   provider = "prisma-client-js"
# }

# datasource db {
#   provider  = "postgresql"
#   url       = env("DATABASE_URL")
#   directUrl = env("DIRECT_URL")
# }